##### 1. L=[1, 2, 3, 4, 5]일 때 다음 각 문장을 수행한 후의 결과를 보고 납득할 만한 이유를 설명하시오.

1) 위치 1부터 3앞까지의 항목들을 100으로 바꾸었기 때문에 아래와 같은 결과가 나왔습니다.

In [2]:
L=[1, 2, 3, 4, 5]
L[1:3] = [100]
print(L)

[1, 100, 4, 5]

2) 위치 1부터 3앞까지의 항목들에 100을 넣어 아래와 같은 결과가 나왔습니다.

In [4]:
L=[1, 2, 3, 4, 5]
L[1:3] = [(100)]
print(L)

[1, 100, 4, 5]

3) 타입이 잘못되어 오류가 발생하였습니다.

In [6]:
L=[1, 2, 3, 4, 5]
L[1:3] = 100
print(L)

TypeError: can only assign an iterable

4) 3번과 같이 타입이 잘못되어 오류가 발생하였습니다.

In [7]:
L=[1, 2, 3, 4, 5]
L[1:3] = (100)
print(L)

TypeError: can only assign an iterable

5) 위치 1부터 3전까지의 항목에 100, 101, 102를 넣어 아래와 같은 결과가 나왔습니다.

In [8]:
L=[1, 2, 3, 4, 5]
L[1:3] = (100, 101, 102)
print(L)

[1, 100, 101, 102, 4, 5]

6) 위치 1부터 3 전까지의 항목들을 100, 101, 102로 바꾸어 아래와 같은 결과가 나왔습니다.

In [9]:
L=[1, 2, 3, 4, 5]
L[1:3] = [100, 101, 102]
print(L)

[1, 100, 101, 102, 4, 5]

7) 위치 1부터 3전까지 튜플을 항목으로 가지는 리스트를 넣었기 때문에 아래와 같은 결과가 나왔습니다.

In [10]:
L=[1, 2, 3, 4, 5]
L[1:3] = [(100, 101, 102)]
print(L)

[1, (100, 101, 102), 4, 5]

8) 위치 1부터 3전까지에 [100, 101, 102]를 항목으로 가지는 리스트를 넣어 아래와 같은 결과가 나왔습니다.

In [11]:
L=[1, 2, 3, 4, 5]
L[1:3] = [[100, 101, 102]]
print(L)

[1, [100, 101, 102], 4, 5]

##### 2. 문자열 S = 'Hello World and Python'에 대해 다음 요구사항에 대한 Python 코드를 제시하시오.

In [22]:
# 1)
S = 'Hello World and Python'
S = S.split()
S = ' '.join(S)
S

'Hello World and Python'

In [18]:
# 2)
S = S.split()
print(''.join(S))

nohtyPdnadlroWolleH

##### 3. 다음 코드를 보고 물음에 답하시오.

1) 위 코드를 수행한 이후 다음 코드를 수행한 후 b와 c의 내용을 확인하시오.

In [23]:
a = [1, 2, 3]
b = a * 3
c = [a] * 3
a[0]=0
print(b)
print(c)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[0, 2, 3], [0, 2, 3], [0, 2, 3]]

2) b와 c 객체의 차이는 무엇인가?

아마도 b는 a의 값을 받아오고 c는 a와 같은 곳을 가르킨다

##### 4. 다음 문자열을 ':'을 기준으로 분리하여 리스트로 만들고 각 문자열의 좌우 공백을 제거하시오 (즉, 문자열 S에서 l을 만들어라)

- s = '  first star   :   second star   :    third star  '
- l = ['first star', 'second star', 'third star']

In [59]:
# 1) for~in 문을 이용한 코드

s = 'first star : second star : third star'
i = []      
for n in range(0, 3):
    i.append(s.split(' : ')[n])

print(i)

['first star', 'second star', 'third star']

In [61]:
# 2) 리스트내포를 이용한 코드

s = 'first star : second star : third star'
i = []      
i = [s.split(' : ')[n] for n in range(0, 3)]
print(i)

['first star', 'second star', 'third star']

##### 5. 다음과 같이 0보다 큰 정수 리스트 변수 list를 인자로 받는 함수 addall(list)와 addallodd(list)를 for ~ in 리터널과 리스트 내포 방식으로 각각 제시하시오.

1) addall(list) 함수 (리스트 내의 모든 정수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)

In [103]:
# for~in 방식
def addall(li):
    return sum(li)
li = [1, 2, 3, 4, 5, 6, 7, 8, 9]
addall(li)

45

In [102]:
# 리스트내포 방식
def addall(li):
    return sum([n for n in li])
li = [1, 2, 3, 4, 5, 6, 7, 8, 9]
addall(li)

45

2) addallodd(list) 함수 (리스트내의 모든 홀수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)

In [98]:
# for~in 방식
def addallodd(li):
    for n in li:
        if n%2 != 1:
            li.remove(n)
    return sum(li)
li = [1, 2, 3, 4, 5, 6, 7, 8, 9]
addallodd(list)

25

In [97]:
# 리스트내포 방식
def addallodd(li):
    return sum([n for n in li if n%2 == 1])
li = [1, 2, 3, 4, 5, 6, 7, 8, 9]
addallodd(li)

25

##### 6. 다음 코드를 보고 물음에 답하시오.

- L1 = [1, 2, 3]
- L2 = [4, 5, 6]
- d = {'low':L1, 'high':L2}
- e = d
- f = d.copy()
- print(d)
- print(e)
- print(f)
- print()
- d['low'] = [10, 20, 30]
- d['high'][1] = 500
- print(d)
- print(e)
- print(f)

1) 위 코드의 수행 결과 d와 e는 항상 같은 결과를 출력한다. 그 이유는 무엇인가?

d와 e가 항상 같은 결과를 출력하는 이유는 list는 mutable하기 때문에 e에 d를 할당하면 같은 메모리주소를 바라보게 되고 d를 변경하면 e도 바뀝니다.

2) 위 코드의 수행 결과 마지막 f의 내용은 다음과 같다. 이 때 'high' 키의 값 내용 중 500이 출력된 이유와 'low' 키의 값 내용 중 [1, 2, 3]이 출력된 이유를 설명하시오 ([hint]: shallow copy 관점에서 설명하시오.)

copy 메소드를 이용해 복사할 경우에는 d와 f가 다른 메모리주소를 바라보지만 그 내부의 객체는 같은 주소를 바라보고있습니다. 그렇기 때문에 f의 low키 값은 변하지 않았지만 f['high'][1]값은 d가 변경되면서 함께 변경되어 다음과 같이 출력되었습니다.
{'high': [4, 500, 6], 'low': [1, 2, 3]}

##### 7. 사전 d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}가 주어졌을 때 다음 요구사항에 맞는 코드를 제시하시오

In [4]:
d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}

In [17]:
import sys
sys.setrecursionlimit(10000)
x = 6012302549522098651
def length(x) :
    n = 0
    while x >= 10 :
        x = x / 10
        n += 1 
    return n + 1

def isStrange(num):
    if (num >= 0 and length(num) == 1):
        return True
    elif(length(num) > 1):
        if num%length(num) == 0 and isStrange(num/length(num)) :
            return True
        else:
            return False
    
#    return False # or False or isStrange(매개변수 숫자)

print(length(x))
isStrange(x)

19

False

In [ ]:
a = [1, 2, 1, 1, 1, 2, 1, 3]
max = 3
a_sum = 12
end = 0
for n in range(max, a_sum):
    start = 0
    end = 0
    for end in range(start, len(a)):
        if n == sum(a[start:end]):
            r = 1
            break
        elif (n < sum(a[start:end]):
            r = 0
            break
    start = end
    if r ==1:
        print(n)
        break

In [18]:
# Incremental Project
import string
import requests
requests.packages.urllib3.disable_warnings(requests.packages.urllib3.exceptions.InsecureRequestWarning)

req1 = requests.get('https://cse.koreatech.ac.kr', verify=False)
req2 = requests.get('https://www.koreatech.ac.kr', verify=False)
req3 = requests.get('http://www.naver.com', verify=False)
req4 = requests.get('http://www.daum.net', verify=False)
req5 = requests.get('http://www.nytimes.com', verify=False)

source1 = req1.text
source2 = req2.text
source3 = req3.text
source4 = req4.text
source5 = req5.text
# print(source)
def wordCheck(source):
    while ("<!--" in source) and ("-->" in source):          # <!-- --> 는 주석이기 때문에 삭제
        a = source.find('<!--')
        b = source.find('-->')
        source = source.replace(source[a:b+3], '')            # <!-- 의 시작 부분부터 -->의 끝 글자까지 삭제

    while ("<script" in source) and ("</script>" in source): # script 태그가 포함 하는 내용 삭제
        a = source.find('<script')
        b = source.find('</script>')
        source = source.replace(source[a:b+9], '')            # <script 의 시작부터 </script> 까지의 내용 삭제
        
    while ("<style" in source) and ("</style>" in source): # style 태그가 포함 하는 내용 삭제
        a = source.find('<style')
        b = source.find('</style>')
        source = source.replace(source[a:b+8], '')            # <script 의 시작부터 </style> 까지의 내용 삭제
        
    for n in range(0, source.count('<')+1):                  # 태그 삭제
        a = source.find('<')
        b = source.find('>')
        source = source.replace(source[a:b+1], '')           # '<'부터 '>'까지의 내용 삭제    
    return source
# print(source)

def wordDic(source):
    dic = {}
    for n in source :
        dic[n] = source.count(n)
        i = 0
        while n in source and i < len(source):
            if(n == source[i]):
                source.remove(n)
            i = i+1
    print(dic)

source1 = wordCheck(source1)
source2 = wordCheck(source2)
source3 = wordCheck(source3)
source4 = wordCheck(source4)
source5 = wordCheck(source5)

for n in range(len(string.punctuation)):
        source1 = source1.replace(string.punctuation[n], "")
        source2 = source1.replace(string.punctuation[n], "")
        source3 = source1.replace(string.punctuation[n], "")
        source4 = source1.replace(string.punctuation[n], "")
        source5 = source1.replace(string.punctuation[n], "")

# print(source1)
num1 = source1.split()                                     # 공백을 기준으로 문자열을 나눔
num2 = source2.split()
num3 = source3.split()
num4 = source4.split()
num5 = source5.split()
wordDic(num1)
wordDic(num2)
wordDic(num3)
wordDic(num4)
wordDic(num5)

{'컴퓨터공학부': 8, 'Study': 1, 'Fun': 1, '로그인': 1, '유지': 2, '닫더라도': 1, '계속': 1, '수': 2, '사용할': 1, '다음': 1, '로그인할': 1, '없습니다': 1, '게임방': 1, '등': 1, '이용': 1, '개인정보가': 1, '있으니': 1, '로그아웃을': 1, '회원가입': 1, '찾기': 1, '교육의': 2, '메카한국기술교육대학교': 1, '소개': 1, '학사안내': 1, '학부': 1, '학부광장': 1, '대학원': 2, 'Registration': 1, 'of': 2, 'Science': 1, 'Engineering': 1, '국내': 3, '실천공학과': 2, '창조적': 2, 'IPP사업단': 2, '장기현장실습': 2, 'IT': 2, '한국기술교육대학교': 5, '오신': 1, '대학혁신산업단': 1, '인적자원개발의': 2, '기업연계형': 2, '공지사항': 1, '실험실': 1, '이수': 1, '20211015': 1, '1050': 2, '전시회': 2, '졸업작품': 8, '20211008': 1, '1342': 2, '판넬': 1, '20211006': 1, '1110': 2, '최종발표': 2, '안내': 1, '1302': 2, '2021년': 4, '0941': 2, '자유게시판': 1, '연구실': 1, '모집': 4, '2335': 2, '※': 2, 'Lab': 1, '지도교수': 1, '20211014': 2, 'BCSD': 1, '21하반기': 1, '모집합니다': 1, '1134': 2, '아르바이트생': 1, '근무730': 1, '1316': 2, '바스젠바이오': 1, '전처리': 1, 'AI': 2, '테스트': 1, '20210712': 1, '1805': 2, '전문연구요원': 2, '모집서버클라': 1, '1038': 2, 'LG': 1, '신입학사The': 1, 'DX': 1, '20210927': 3, '2021': 1, '코스맥스그룹': 1, '0909': 2, '경찰대학': 1, '임기제': 1, '전산직': 1, '1031': 2, '화성': 1, '인턴': 1, '20210913': 1, '0910': 2, '전자신문': 1, '기획·개발': 1, '강릉국제영화제': 1, '1444': 2, 'KT': 1, '한진': 1, '기반': 1, '혁신': 1, '1443': 2, '케이티시즌': 1, '영화': 1, '레코드': 1, '20211022': 3, '독립법인': 1, '기념': 1, '이용권': 1, '할인': 1, '1838': 2, 'U알뜰모바일': 1, '편의점': 1, '구독': 1, '20211021': 3, 'Watch': 1, '‘Unleashed’': 1, 'live': 1, 'here': 1, '1926': 2, 'China': 1, 'Be': 1, 'Internet': 1, 'Pr': 1, '1908': 2, 'The': 1, 'Trailer': 1, 'Batman': 1, 'Have': 1, '20211018': 5, 'Supergirl': 1, 'Superman': 1, 'Story': 1, '0431': 3, 'Six': 1, 'Should': 1, 'SpiderMan': 1, 'Navigation': 1, 'WEBMAIL': 1, '평생교육원': 1, '업무': 1, 'Campus': 1, 'Contact': 1, '충청남도': 2, '동남구': 2, '충절로': 2, '학과사무실': 1, '041': 2, '1460': 1, 'FAX': 1, '1462': 1, '31253': 1, '병천면': 2, 'Copyright': 1, '2015': 1, 'rights': 1}
{'컴퓨터공학부': 8, 'Study': 1, 'Fun': 1, '로그인': 1, '유지': 2, '닫더라도': 1, '계속': 1, '수': 2, '사용할': 1, '다음': 1, '로그인할': 1, '없습니다': 1, '게임방': 1, '등': 1, '이용': 1, '개인정보가': 1, '있으니': 1, '로그아웃을': 1, '회원가입': 1, '찾기': 1, '교육의': 2, '메카한국기술교육대학교': 1, '소개': 1, '학사안내': 1, '학부': 1, '학부광장': 1, '대학원': 2, 'Registration': 1, 'of': 2, 'Science': 1, 'Engineering': 1, '국내': 3, '실천공학과': 2, '창조적': 2, 'IPP사업단': 2, '장기현장실습': 2, 'IT': 2, '한국기술교육대학교': 5, '오신': 1, '대학혁신산업단': 1, '인적자원개발의': 2, '기업연계형': 2, '공지사항': 1, '실험실': 1, '이수': 1, '20211015': 1, '1050': 2, '전시회': 2, '졸업작품': 8, '20211008': 1, '1342': 2, '판넬': 1, '20211006': 1, '1110': 2, '최종발표': 2, '안내': 1, '1302': 2, '2021년': 4, '0941': 2, '자유게시판': 1, '연구실': 1, '모집': 4, '2335': 2, '※': 2, 'Lab': 1, '지도교수': 1, '20211014': 2, 'BCSD': 1, '21하반기': 1, '모집합니다': 1, '1134': 2, '아르바이트생': 1, '근무730': 1, '1316': 2, '바스젠바이오': 1, '전처리': 1, 'AI': 2, '테스트': 1, '20210712': 1, '1805': 2, '전문연구요원': 2, '모집서버클라': 1, '1038': 2, 'LG': 1, '신입학사The': 1, 'DX': 1, '20210927': 3, '2021': 1, '코스맥스그룹': 1, '0909': 2, '경찰대학': 1, '임기제': 1, '전산직': 1, '1031': 2, '화성': 1, '인턴': 1, '20210913': 1, '0910': 2, '전자신문': 1, '기획·개발': 1, '강릉국제영화제': 1, '1444': 2, 'KT': 1, '한진': 1, '기반': 1, '혁신': 1, '1443': 2, '케이티시즌': 1, '영화': 1, '레코드': 1, '20211022': 3, '독립법인': 1, '기념': 1, '이용권': 1, '할인': 1, '1838': 2, 'U알뜰모바일': 1, '편의점': 1, '구독': 1, '20211021': 3, 'Watch': 1, '‘Unleashed’': 1, 'live': 1, 'here': 1, '1926': 2, 'China': 1, 'Be': 1, 'Internet': 1, 'Pr': 1, '1908': 2, 'The': 1, 'Trailer': 1, 'Batman': 1, 'Have': 1, '20211018': 5, 'Supergirl': 1, 'Superman': 1, 'Story': 1, '0431': 3, 'Six': 1, 'Should': 1, 'SpiderMan': 1, 'Navigation': 1, 'WEBMAIL': 1, '평생교육원': 1, '업무': 1, 'Campus': 1, 'Contact': 1, '충청남도': 2, '동남구': 2, '충절로': 2, '학과사무실': 1, '041': 2, '1460': 1, 'FAX': 1, '1462': 1, '31253': 1, '병천면': 2, 'Copyright': 1, '2015': 1, 'rights': 1}
{'컴퓨터공학부': 8, 'Study': 1, 'Fun': 1, '로그인': 1, '유지': 2, '닫더라도': 1, '계속': 1, '수': 2, '사용할': 1, '다음': 1, '로그인할': 1, '없습니다': 1, '게임방': 1, '등': 1, '이용': 1, '개인정보가': 1, '있으니': 1, '로그아웃을': 1, '회원가입': 1, '찾기': 1, '교육의': 2, '메카한국기술교육대학교': 1, '소개': 1, '학사안내': 1, '학부': 1, '학부광장': 1, '대학원': 2, 'Registration': 1, 'of': 2, 'Science': 1, 'Engineering': 1, '국내': 3, '실천공학과': 2, '창조적': 2, 'IPP사업단': 2, '장기현장실습': 2, 'IT': 2, '한국기술교육대학교': 5, '오신': 1, '대학혁신산업단': 1, '인적자원개발의': 2, '기업연계형': 2, '공지사항': 1, '실험실': 1, '이수': 1, '20211015': 1, '1050': 2, '전시회': 2, '졸업작품': 8, '20211008': 1, '1342': 2, '판넬': 1, '20211006': 1, '1110': 2, '최종발표': 2, '안내': 1, '1302': 2, '2021년': 4, '0941': 2, '자유게시판': 1, '연구실': 1, '모집': 4, '2335': 2, '※': 2, 'Lab': 1, '지도교수': 1, '20211014': 2, 'BCSD': 1, '21하반기': 1, '모집합니다': 1, '1134': 2, '아르바이트생': 1, '근무730': 1, '1316': 2, '바스젠바이오': 1, '전처리': 1, 'AI': 2, '테스트': 1, '20210712': 1, '1805': 2, '전문연구요원': 2, '모집서버클라': 1, '1038': 2, 'LG': 1, '신입학사The': 1, 'DX': 1, '20210927': 3, '2021': 1, '코스맥스그룹': 1, '0909': 2, '경찰대학': 1, '임기제': 1, '전산직': 1, '1031': 2, '화성': 1, '인턴': 1, '20210913': 1, '0910': 2, '전자신문': 1, '기획·개발': 1, '강릉국제영화제': 1, '1444': 2, 'KT': 1, '한진': 1, '기반': 1, '혁신': 1, '1443': 2, '케이티시즌': 1, '영화': 1, '레코드': 1, '20211022': 3, '독립법인': 1, '기념': 1, '이용권': 1, '할인': 1, '1838': 2, 'U알뜰모바일': 1, '편의점': 1, '구독': 1, '20211021': 3, 'Watch': 1, '‘Unleashed’': 1, 'live': 1, 'here': 1, '1926': 2, 'China': 1, 'Be': 1, 'Internet': 1, 'Pr': 1, '1908': 2, 'The': 1, 'Trailer': 1, 'Batman': 1, 'Have': 1, '20211018': 5, 'Supergirl': 1, 'Superman': 1, 'Story': 1, '0431': 3, 'Six': 1, 'Should': 1, 'SpiderMan': 1, 'Navigation': 1, 'WEBMAIL': 1, '평생교육원': 1, '업무': 1, 'Campus': 1, 'Contact': 1, '충청남도': 2, '동남구': 2, '충절로': 2, '학과사무실': 1, '041': 2, '1460': 1, 'FAX': 1, '1462': 1, '31253': 1, '병천면': 2, 'Copyright': 1, '2015': 1, 'rights': 1}
{'컴퓨터공학부': 8, 'Study': 1, 'Fun': 1, '로그인': 1, '유지': 2, '닫더라도': 1, '계속': 1, '수': 2, '사용할': 1, '다음': 1, '로그인할': 1, '없습니다': 1, '게임방': 1, '등': 1, '이용': 1, '개인정보가': 1, '있으니': 1, '로그아웃을': 1, '회원가입': 1, '찾기': 1, '교육의': 2, '메카한국기술교육대학교': 1, '소개': 1, '학사안내': 1, '학부': 1, '학부광장': 1, '대학원': 2, 'Registration': 1, 'of': 2, 'Science': 1, 'Engineering': 1, '국내': 3, '실천공학과': 2, '창조적': 2, 'IPP사업단': 2, '장기현장실습': 2, 'IT': 2, '한국기술교육대학교': 5, '오신': 1, '대학혁신산업단': 1, '인적자원개발의': 2, '기업연계형': 2, '공지사항': 1, '실험실': 1, '이수': 1, '20211015': 1, '1050': 2, '전시회': 2, '졸업작품': 8, '20211008': 1, '1342': 2, '판넬': 1, '20211006': 1, '1110': 2, '최종발표': 2, '안내': 1, '1302': 2, '2021년': 4, '0941': 2, '자유게시판': 1, '연구실': 1, '모집': 4, '2335': 2, '※': 2, 'Lab': 1, '지도교수': 1, '20211014': 2, 'BCSD': 1, '21하반기': 1, '모집합니다': 1, '1134': 2, '아르바이트생': 1, '근무730': 1, '1316': 2, '바스젠바이오': 1, '전처리': 1, 'AI': 2, '테스트': 1, '20210712': 1, '1805': 2, '전문연구요원': 2, '모집서버클라': 1, '1038': 2, 'LG': 1, '신입학사The': 1, 'DX': 1, '20210927': 3, '2021': 1, '코스맥스그룹': 1, '0909': 2, '경찰대학': 1, '임기제': 1, '전산직': 1, '1031': 2, '화성': 1, '인턴': 1, '20210913': 1, '0910': 2, '전자신문': 1, '기획·개발': 1, '강릉국제영화제': 1, '1444': 2, 'KT': 1, '한진': 1, '기반': 1, '혁신': 1, '1443': 2, '케이티시즌': 1, '영화': 1, '레코드': 1, '20211022': 3, '독립법인': 1, '기념': 1, '이용권': 1, '할인': 1, '1838': 2, 'U알뜰모바일': 1, '편의점': 1, '구독': 1, '20211021': 3, 'Watch': 1, '‘Unleashed’': 1, 'live': 1, 'here': 1, '1926': 2, 'China': 1, 'Be': 1, 'Internet': 1, 'Pr': 1, '1908': 2, 'The': 1, 'Trailer': 1, 'Batman': 1, 'Have': 1, '20211018': 5, 'Supergirl': 1, 'Superman': 1, 'Story': 1, '0431': 3, 'Six': 1, 'Should': 1, 'SpiderMan': 1, 'Navigation': 1, 'WEBMAIL': 1, '평생교육원': 1, '업무': 1, 'Campus': 1, 'Contact': 1, '충청남도': 2, '동남구': 2, '충절로': 2, '학과사무실': 1, '041': 2, '1460': 1, 'FAX': 1, '1462': 1, '31253': 1, '병천면': 2, 'Copyright': 1, '2015': 1, 'rights': 1}
{'컴퓨터공학부': 8, 'Study': 1, 'Fun': 1, '로그인': 1, '유지': 2, '닫더라도': 1, '계속': 1, '수': 2, '사용할': 1, '다음': 1, '로그인할': 1, '없습니다': 1, '게임방': 1, '등': 1, '이용': 1, '개인정보가': 1, '있으니': 1, '로그아웃을': 1, '회원가입': 1, '찾기': 1, '교육의': 2, '메카한국기술교육대학교': 1, '소개': 1, '학사안내': 1, '학부': 1, '학부광장': 1, '대학원': 2, 'Registration': 1, 'of': 2, 'Science': 1, 'Engineering': 1, '국내': 3, '실천공학과': 2, '창조적': 2, 'IPP사업단': 2, '장기현장실습': 2, 'IT': 2, '한국기술교육대학교': 5, '오신': 1, '대학혁신산업단': 1, '인적자원개발의': 2, '기업연계형': 2, '공지사항': 1, '실험실': 1, '이수': 1, '20211015': 1, '1050': 2, '전시회': 2, '졸업작품': 8, '20211008': 1, '1342': 2, '판넬': 1, '20211006': 1, '1110': 2, '최종발표': 2, '안내': 1, '1302': 2, '2021년': 4, '0941': 2, '자유게시판': 1, '연구실': 1, '모집': 4, '2335': 2, '※': 2, 'Lab': 1, '지도교수': 1, '20211014': 2, 'BCSD': 1, '21하반기': 1, '모집합니다': 1, '1134': 2, '아르바이트생': 1, '근무730': 1, '1316': 2, '바스젠바이오': 1, '전처리': 1, 'AI': 2, '테스트': 1, '20210712': 1, '1805': 2, '전문연구요원': 2, '모집서버클라': 1, '1038': 2, 'LG': 1, '신입학사The': 1, 'DX': 1, '20210927': 3, '2021': 1, '코스맥스그룹': 1, '0909': 2, '경찰대학': 1, '임기제': 1, '전산직': 1, '1031': 2, '화성': 1, '인턴': 1, '20210913': 1, '0910': 2, '전자신문': 1, '기획·개발': 1, '강릉국제영화제': 1, '1444': 2, 'KT': 1, '한진': 1, '기반': 1, '혁신': 1, '1443': 2, '케이티시즌': 1, '영화': 1, '레코드': 1, '20211022': 3, '독립법인': 1, '기념': 1, '이용권': 1, '할인': 1, '1838': 2, 'U알뜰모바일': 1, '편의점': 1, '구독': 1, '20211021': 3, 'Watch': 1, '‘Unleashed’': 1, 'live': 1, 'here': 1, '1926': 2, 'China': 1, 'Be': 1, 'Internet': 1, 'Pr': 1, '1908': 2, 'The': 1, 'Trailer': 1, 'Batman': 1, 'Have': 1, '20211018': 5, 'Supergirl': 1, 'Superman': 1, 'Story': 1, '0431': 3, 'Six': 1, 'Should': 1, 'SpiderMan': 1, 'Navigation': 1, 'WEBMAIL': 1, '평생교육원': 1, '업무': 1, 'Campus': 1, 'Contact': 1, '충청남도': 2, '동남구': 2, '충절로': 2, '학과사무실': 1, '041': 2, '1460': 1, 'FAX': 1, '1462': 1, '31253': 1, '병천면': 2, 'Copyright': 1, '2015': 1, 'rights': 1}